<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="2.80.1" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
  <package id="T4Image" version="2.0.0" targetFramework="net47" />
</packages>